if SHIELD_HACK

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Ajazz AK820 BLE"

endif

config GPIO_MCP230XX
    def_bool y

config GPIO_MCP23XXX_INIT_PRIORITY
    int "Init priority"
    default 40